<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar"> 
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
  
        <h1 class="example-app-name">MEDIAPP</h1>
  
        <span class="example-spacer"></span>

  
        <mat-menu #menu="matMenu">

        </mat-menu>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px" mode="push">
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/organization" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Organization</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/charge" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Charge</span>
            </button>
        </mat-sidenav>
        
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
  
</div>