<mat-toolbar>Charge Point</mat-toolbar>
<router-outlet></router-outlet>
<div class="example-header">
  <mat-form-field>
      <input matInput (keyup)="filtrar($any($event.target).value)" placeholder="Search">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
  </ng-container>

  <ng-container matColumnDef="identity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Identity </th>
      <td mat-cell *matCellDef="let row"> {{row.identity}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
          <button mat-button color="primary" [routerLink]="['edition', row.id]">
              <mat-icon>ballot</mat-icon>
          </button>
          <button mat-button color="accent" (click)="eliminar(row.id)">
              <mat-icon>delete</mat-icon>
          </button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator>

<button mat-fab color="accent" style="float: right" routerLink="/charge/new">
  <mat-icon>create</mat-icon>
</button>