<mat-toolbar>Organization</mat-toolbar>
<router-outlet></router-outlet>
<div class="example-header">
  <mat-form-field>
      <input matInput (keyup)="filtrar($any($event.target).value)" placeholder="Search">
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="legalEntity">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Legal Entity </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.legalEntity}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
          <button mat-button color="primary" [routerLink]="['edition', row.id]">
              <mat-icon>ballot</mat-icon>
          </button>
          <button mat-button color="accent" (click)="eliminar(row.id)">
              <mat-icon>delete</mat-icon>
          </button>
      </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator>

<button mat-fab color="accent" style="float: right" routerLink="/organization/new">
  <mat-icon>create</mat-icon>
</button>