<mat-card>Enter the data</mat-card>

<form class="example-container" [formGroup]="form" #frmCharge="ngForm"  (ngSubmit)="operar()">
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" formControlName="id">
        </mat-form-field>
    </div>    
    <mat-form-field class="example-full-width">            
        <input matInput placeholder="Identity" minlength="3" required formControlName="identity">   
        <small *ngIf="f.identity.errors?.required && f.identity.touched " class="invalido">Name is required</small>            
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
        <mat-icon>done</mat-icon>
        <span>OK</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/charge' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancel</span>
    </button>
</form>